@import "variables/_variables";
@import "blocks/__b-header";
@import "blocks/_b-brandBox";
@import "blocks/_b-brandBoxHeader";
@import "blocks/_b-chapters";
@import "blocks/_b-chapterCard";
@import "blocks/_b-productCard";
@import "blocks/_b-productCards";
@import "blocks/_b-button";
@import "blocks/_b-menu";
@import "blocks/_b-service";
@import "blocks/_b-services";
@import "blocks/_b-userBlock";
@import "blocks/_b-footer";
@import "blocks/_b-links";
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.chapters_margin {
    margin-top: 63px;
    margin-bottom: 93px;
    @media(max-width: 1140px) {
        margin: 18px 16px 154px 16px;
    }
    @media(max-width: 400px) {
        margin: 64px 15px;
    }
}