@import "../variables/_variables";
.b-links {
    display: flex;
    width: 148px;
    justify-content: space-between;
    &__item {
        text-decoration: none;
        background-color: $lightColor;
        width: 32px;
        height: 32px;
        text-align: center;
        padding-top: 8px;
        box-sizing: border-box;
    }
    &__item:hover {
        background-color: $altColor;
    }
}