.b-chapters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    grid-template-rows: 260px 180px;
    &__cardBottom {
        grid-column-start: 1;
        grid-column-end: 4;
        @media(max-width: 550px) {
            grid-column-start: 0;
            grid-column-end: 1;
        }
    }
    @media(max-width: 900px) {
        grid-column-gap: 19px;
        grid-row-gap: 19px;
        grid-template-rows: 170px 116px;
    }
    @media(max-width:550px) {
        grid-template-columns: 1fr;
        grid-template-rows: 247px 247px 247px 110px;
        gap: 32px;
    }
}