$brandBackColor:#F1E4E6;
$altColor:#F16D7F;
$mainColor:#222222;
$lightColor:#FFFFFF;
$mainFont: Lato sans-serif;
$descriptionColor:#9F9F9F;
$cardDescColor: #5D5D5D;
$serviceBackground:#222224;
$inputBackground:#E1E1E1;